$baseCOlor = #6592e3
$fontColor = #090909
$fontColor2 = #969497
$fontSize-m = 13px
$fontSize-l = 15px
$fontSize-s = 12px
$bgColor = #f6f4f9
$borderCOlor = #f6f6f6

.checkbox
  width .28rem
  height .28rem
  display inline-block
  border 1px solid #6a90e1
  vertical-align bottom
  border-radius 2px
  margin-right .18rem
  &.active
    background-image url('../images/yes.png')
    background-repeat no-repeat
    background-position center
    background-size 10px auto